{{> page-template-header}}
    <div class="white-left">&nbsp;</div>
    <div class="navigation-top vertical-mid home-nav">{{> page-top-nav}}</div>
    <div class="gradient-bg huc-bar-gradient">
      <div class="animation-grid" id="grid">.</div>
    </div>

    <div class="content-home">
      <div class="huc-home-hero-text">
        <div class="huc-home-txt">
          {{-page-content-}}
        </div>

      </div>
     <h2>News</h2>
     {{-items-homepage-}}
    </div>



  <div id="getW">&nbsp;</div>
  </div>

  {{> page-huc-bar-brown}}

{{> page-template-footer}}


<!-- build:js js/js-home.js -->
<script src="../js/width.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/00-init-svg.js"></script>
<script type="text/javascript" src="../js/01-coors-illu01.js"></script>
<script type="text/javascript" src="../js/02-svg-content.js"></script>
<script type="text/javascript" src="../js/03-place-items.js"></script>
<script type="text/javascript" src="../js/func-random-coors.js"></script>
<script type="text/javascript" src="../js/func-random.js"></script>
<!-- endbuild -->
