{{> html-head}}

  <div class="content">
    <div class="content-txt">


      <div class="pageBlock">

        <h1>HuC</h1>
        {{> long}}
      </div>


      <div class="pageBlock">

        <h2>We innovate research</h2>
        {{> long}}
      </div>

      <div class="pageBlock">
        <h2>We connect data and people</h2>
        {{> long}}
      </div>

      <div class="pageBlock">
        <h2>We build durable infrastructure</h2>
        {{> long}}
      </div>



    </div>
  </div>
  <div class="colorbar" id="huc-grid"></div>
  <div class="partnerbar"></div>

  <script src="js/huc-grid.js"></script>
{{> html-footer}}
