{{> html-head}}

{{> page-head}}

<div class="itemSpread">

  <div style="padding: 1em; width:30%; background-color:#f0f0f0">
    {{-nav-}}
  </div>

  <div style="padding: 1em; width:66%;">
    <h1>{{-page-title-}}</h1>
    {{-page-content-}}
    <h2>Publications</h2>
    {{-connect-publications-staff-}}
    {{-connect-publications-project-}}
    <h2>staff</h2>
    {{-connect-staff-projects-}}
    {{-connect-staff-products-}}

    <div class="page-cats">
      Page categories:<br>
      {{-page-categories-}}
    </div>
  </div>


</div>

{{> html-footer}}
