{{> page-template-header}}

        <h1>{{-page-title-}}</h1>
        {{-page-content-}}

        <h2>Publications</h2>
        <div class="connectedItems">
          {{-connect-publications-project-}}
        </div>

        <h2>Staff</h2>
        <div class="connectedItems">
          {{-connect-staff-projects-}}
        </div>

        <h2>Partners</h2>
        <div class="connectedItems">
          {{-connect-partner-projects-}}
        </div>

        {{> page-social-media-bar}}
        {{> page-mailchimp-form}}

{{> page-template-footer}}
