{{> page-template-header}}

        <h1>{{-page-title-}}</h1>
        {{> page-product-github-content}}

        <h2>Staff</h2>222
        <div class="connectedItems">
          {{-connect-staff-products-}}
        </div>

        <h2>Partners</h2>
        <div class="connectedItems">
          {{-connect-partner-products-}}
        </div>

        <h2>Product updates</h2>
        <div class="updateItems">
          {{-items-posts-}}
        </div>

        {{> page-social-media-bar}}
        {{> page-mailchimp-form}}

{{> page-template-footer}}
