{{> html-head}}

<div class="itemSpread">

  <div style="padding: 1em; width:30%; background-color:#f0f0f0">
    {{> page-head}}
    {{-nav-}}
  </div>

  <div style="padding: 1em; width:66%;">
    <h1>{{-page-title-}}</h1>
    {{-page-content-}}


    <h2>From Github</h2>
    {{> page-product-github-content}}
    <br><br>

    <div class="page-cats">
      Page categories:<br>
      {{-page-categories-}}
    </div>

    <div class="site-cats">
      Site categories:<br>
      {{-site-categories-}}
    </div>
    <br>


    <h2>blogs ({{-items-posts-results-}})</h2>
    {{-items-posts-}}
    <br><br>

    <h2>Products ({{-items-products-results-}})</h2>
    {{-items-products-}}
    <br><br>

    <h2>Vacatures ({{-items-vacatures-results-}})</h2>
    {{-items-vacatures-}}
    <br><br>

    <h2>Projects ({{-items-projects-results-}})</h2>
    {{-items-projects-}}
    <br><br>

    <h2>Publications ({{-items-publications-results-}})</h2>
    {{-items-publications-}}
    <br><br>

    <h2>Staff ({{-items-staff-results-}})</h2>
    {{-items-staff-}}
  </div>

</div>


{{> html-footer}}
