<div class="huc-bar-page">
  <div class="huc-bar-gradient"></div>
  <div class="huc-bar-brown">
    <div class="huc-bar-language"><a href="">nl</a> <a href="">eng</a></div>
    <div class="huc-bar-partners">
      <a href=""><img src="images/logo-partner-IISG.png" alt="Partner IISG"></a>
      <a href=""><img src="images/logo-partner-meertens.png" alt="Partner Meertens Instituut"></a>
      <a href=""><img src="images/logo-partner-huygens.png" alt="Partner Huygens ING"></a>
    </div>

  </div>
</div>
