@import url("https://fonts.googleapis.com/css?family=Nunito:300,300i,700");
html,
body {
  padding: 0;
  margin: 0; }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0 0 0 1em; }

a {
  text-decoration: none; }

ul ul {
  margin: 0 0 0 1em; }

ul ul ul {
  margin: 0 0 0 2em; }

* {
  box-sizing: border-box; }

a {
  color: #0087d4; }

.smallGrey {
  font-size: .8em;
  color: "#999999"; }

.light-grey-bg {
  background-color: #eeeeee; }

pre {
  background-color: #eeeeee;
  font-size: 12px;
  padding: .5em;
  white-space: pre-wrap; }

.icon img, .icon svg {
  width: 1em;
  height: auto;
  cursor: pointer; }

.txt img {
  width: 100%;
  height: auto; }

.margin8 {
  margin-top: 8em; }

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  font-style: normal;
  color: #3e3e3e; }

h1 {
  font-size: 1.5em;
  line-height: 130%;
  font-weight: 700; }

h2 {
  font-size: 1.3em;
  line-height: 130%;
  font-weight: 700; }

h3 {
  font-size: 1em;
  line-height: 130%;
  font-weight: 700; }

h4 {
  font-size: 1em;
  line-height: 130%;
  font-weight: 700;
  display: inline; }

@media (min-width: 600px) {
  body {
    font-size: 18px;
    line-height: 150%; }
  h1 {
    font-size: 2em; }
  h1, h2, h3, h4 {
    line-height: 150%; } }

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: .3em; }

p {
  margin-top: 0;
  margin-bottom: 1em; }

.siteWrap {
  max-width: 1100px;
  padding: 0 1.5em;
  margin-left: auto;
  margin-right: auto; }

.textWrap {
  max-width: 650px;
  padding: 0 1.5em;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box; }

.siteWrap .textWrap {
  max-width: 650px;
  box-sizing: border-box;
  padding: 0; }

.itemSpread {
  display: flex;
  justify-content: space-between; }

.margin {
  margin-bottom: 3em; }

.margin-top {
  margin-top: 5em; }

nav a {
  margin-left: 1em; }

.branding-logo {
  position: relative; }

.c2, .c3, .c4, .c5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.c2 > * {
  width: calc(50% - 1.5em); }

.c3 > * {
  width: calc(33% - 1.5em); }

.c4 > * {
  width: calc(25% - 1.5em); }

.c5 > * {
  width: calc(20% - 1.5em); }

@media (max-width: 600px) {
  .c2, .c3, .c4, .c5 {
    display: block; }
  .c2 > *, .c3 > *, .c4 > *, .c5 > * {
    width: 100%; } }

.alignleft {
  float: left;
  margin: 0em 1em 0em -2em;
  width: auto !important; }

.alignright {
  float: right;
  margin: 0em -2em 0em 1em;
  width: auto !important; }

.aligncenter {
  width: calc(100% + 2em);
  height: auto;
  margin: .5em -1em .5em -1em; }

.gallery {
  margin: 0 -1.5em !important;
  display: flex; }

@media (max-width: 600px) {
  .gallery {
    margin: 0 -1.5em !important;
    display: block; } }

.wp-caption-text {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "sans-serif" !important;
  margin-top: -.3em;
  color: #999;
  font-size: .7em;
  text-align: left; }

.pagination {
  font-size: .7em; }

.pagination a {
  border: 1px solid #d0d0d0;
  padding: .2em  .3em;
  margin-left: .5em; }

.current-menu-item {
  font-weight: 700; }

.current-menu-item ul {
  font-weight: 300; }

.current {
  border: 1px solid #999;
  background-color: #999;
  padding: .2em  .3em;
  margin-left: .5em;
  color: #fff; }

nav ul ul {
  display: none; }

.current_page_parent ul, .current_page_item ul {
  display: block !important; }

.illustration {
  width: 100%;
  background-color: #f4f4f4;
  padding: .5em; }

.illustration img {
  width: 100%;
  height: auto; }

@media (min-width: 950px) {
  .illu-right {
    float: right;
    margin: 1em -25% 1em 1em;
    width: 50%; }
  .illu-left {
    float: left;
    margin: 1em 1em 1em -25%;
    width: 50%; } }

.illustration-caption {
  font-size: .75em;
  line-height: 130%;
  color: #797878; }

.article-list {
  display: flex;
  flex-wrap: wrap; }

.article-list > * {
  width: 100%;
  background-color: #f0e107;
  padding: 1.5em;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff; }

@media (min-width: 700px) {
  .article-list > * {
    width: 33.3333%; } }

.introduction {
  padding: 3em 0; }

.chapter-start {
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 8em 0em;
  background-size: cover;
  background-position: center;
  margin: 6em 0 2em 0;
  background-color: #065948; }

.gallery {
  width: 100%;
  background-color: #bcf18d; }

.gallery-frame {
  background-color: #77500c;
  width: 50%;
  height: auto; }

.gallery-items {
  background-color: #3dab65;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.gallery-items .illustration img {
  width: 75px;
  height: auto; }

.gallery-items .illustration-caption {
  display: none; }

.opvarenden dd {
  display: none; }

.site-hero {
  width: 100vw;
  height: 180vh;
  display: flex;
  flex-direction: column; }

.site-hero > * {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

@media (min-width: 800px) {
  .site-hero {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row; }
  .site-hero > * {
    width: 50%; } }

.site-hero-logo {
  background-image: url(../images/rooswijk-hero.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center; }

.site-hero-intro {
  background-image: url(../images/map-goodwin-sands.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center; }

.site-hero-intro > * {
  width: 400px; }

.site-hero-intro-partners img {
  height: 70px;
  width: auto;
  display: block; }

.logo-huygensIng {
  height: 45px !important;
  width: auto;
  margin-left: -8px;
  margin-top: .5em; }

.hero-bottom {
  height: 123px; }
