.card-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 -1em;
}

.card {
  background-color: $colorGreyLight;
  padding: 1em;
  width: 100%;
  margin: 0 0 #{$basicPadding} 0em;
  display: flex;
  flex-direction: column;

}

@media (min-width: 800px) {
  .card-grid {
    flex-direction: row;
  }

  .card {
    width: calc(33% - #{($basicPadding * 2)/3});
    margin: 0 #{$basicPadding} #{$basicPadding} 0;
  }
  .card:nth-child(3n+3) {
    width: calc(33% - #{($basicPadding * 2)/3});
    margin: 0 0 #{$basicPadding} 0;
  }
}
