$hucBarWidth: 6em;
$subnavWidth: $wrapSite - $wrapText;

.huc-page {
  width: calc(100vw - #{$hucBarWidth}) ;
  display: flex;
  flex-direction: column;

}

.huc-header{
  height: 14em;
  margin-top: 2em;
}

.huc-logo img{
  width: 100px;
  height: auto;
}

.top-navigation{
  margin-top: 2em;
}

.top-navigation li{
  display: inline-block;
  list-style: none;
}

.top-navigation li:nth-child(-n+4) {
  font-weight: 700;
}

nav a {
  color: $colorTxt;
}

.huc-page-body {
  display: flex;
  flex-direction: row;

}

.huc-subnav {
  width: $subnavWidth;
}

.huc-subnav li {
  list-style: none;
  margin: 0 0 .5em 0;
}



.huc-content {
  max-width: $wrapText;
}


.huc-bar-page {
  position: fixed;
  top:0px;
  right: 0px;
  bottom: 0px;
  width: $hucBarWidth;
  display: flex;
  flex-direction: row;
}

.huc-bar-gradient {
  width: 50%;
  background-image: -moz-linear-gradient( 115deg, #{$colorPrimairy} 11%, #{$colorSecundairy} 100%);
  background-image: -webkit-linear-gradient( 115deg, #{$colorPrimairy} 11%, #{$colorSecundairy} 100%);
  background-image: -ms-linear-gradient( 115deg, #{$colorPrimairy} 11%, #{$colorSecundairy} 100%);
}

.huc-bar-brown{
  width: 50%;
  background-color: $colorTertiary;
}



.current-page-ancestor a, .current-menu-item a{
  border-bottom: 2px solid #{$colorTxt};
}
