
// 2coll
.grid-2col {
	display: flex; //grid fallback
	display: grid;
	grid-template-columns: 300px auto;
}
.grid-2col > *:nth-child(1){
	flex-basis: 300px; //grid fallback
	margin-right: 1em;
}
.grid-2col > *:nth-child(2){
	flex-basis: auto; //grid fallback
}
