.grid-cards {
	display: flex; //grid fallback
	flex-wrap: wrap; //grid fallback

	display: grid;
	grid-template-columns: 1fr;
	//grid-gap: 1em;

}

.grid-cards > *{
  flex-basis: calc(100% - 3em); //grid fallback
	margin: 0 1em 1em 0;
	box-sizing: border-box;
}

@media (min-width: 400px) {
	.grid-cards {
		grid-template-columns: 1fr 1fr;


	}

	.grid-cards > *{
	  flex-basis: calc(50% - 3em); //grid fallback


	}
}



@media (min-width: 700px) {
	.grid-cards {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		//grid-gap: 1em;

	}

	.grid-cards > *{
	  flex-basis: calc(25% - 3em); //grid fallback


	}
}

.grid-cards > *{
	border-radius: 3px;
	border: 1px solid #ccc;
	background-color: #fff; 
}

.card-content {
	padding: .5em;
}
