@import 'ds-values.json';

$colorPrimairy: map-get($colors, primary);
$colorSecundairy: map-get($colors, secundary);
$colorLink: map-get($colors, linkBlue);
$colorGreyLight: map-get($colors, greyLight);
$colorGreyMid: map-get($colors, greyMid);
$colorGreyDark: map-get($colors, greyDark);

//@import 'colors';
@import 'normalise';
@import 'var';
@import 'basics';
@import 'typo';
@import 'layout';
@import 'grid';
@import 'wp';
@import 'custom';
